<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/icon@16px.png"/>
  </head>

  <body>
    <main>
      <h1>NAME<br>GAME</h1>
      <form method="POST" action="/submit">
        <input type="text" id = "nameID" name="name" placeholder="NAME"/><br><br>
        <input type="text" id = "roomCode" name="room" placeholder="CODE" maxlength="4" /><br><br>
        <button type="submit">JOIN</button>
      </form>
  </main>
  </body>

</html>