<!DOCTYPE html>
<html>
  <head>
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
    <main>
      <h1>NAME<br>GAME</h1>
      <form method="POST" action="/submit">
        <input type="text" id = "nameID" name="name" placeholder="NAME"/><br><br>
        <input type="text" id = "roomCode" name="room" placeholder="CODE" /><br><br>
        <input type="submit" value="JOIN"></input>
      </form>
  </main>
  </body>

</html>