<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/emojis.js" defer></script>
    <link rel="icon" type="image/png" href="images/icon@16px.png"/>
  </head>
  <body>
    <p id ="results-header">Results</p> <!-- center this-->
      <main>
        <div id = "container"></div>
        <!-- Center these too-->
        <div id = "results">
          <h3 id="progress-title" style="font-size:xx-large"> alex 78</h3>
          <h3 id="progress-title" style="font-size:xx-large"> rory 90</h3>
          <h3 id="progress-title" style="font-size:xx-large"> alex 74</h3>
          <h3 id="progress-title" style="font-size:xx-large"> alan 92</h3>
        </div>
      
      </main>
      
      <!-- Redirect back to home-->
      <button style ="margin:auto">Play Again</button>

  </body>
</html>
