<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
      const ROOM_ID = "<%= roomId %>"
      const NAME = "<%= name %>"
    </script>
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="face-api.min.js" defer></script>
    <script src="progressbar.min.js" defer></script>
    <script src="video.js" defer></script>
    <!--<script src = "test.js" defer></script>-->
    
    <title>Document</title>
    <style>
      #video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-rows: 300px;
      }
      
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>
</head>

<body>
    <div id="video-grid"></div>
    <div><h3 id="name"></h3></div>
    <div id = "div1"></div>
    <div><button id ="start-game">start game</button></div>
    <div id = "my-turn"></div>
    <script src = "turnorder.js" defer></script>
    <script src = "startgame.js" defer></script>
</body>
</html>